html, body {
    background: dimgrey;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nonModalDialog_underlay {
    display: none;
}
.modalDialog_underlay {
    display: block;
}
.nonModalDialog {
    background: #ffffff;
}
.modalDialog {
    background: #ffffff;
}
